{{ include('base.html.twig') }}
{% block body %}
  <main>
    <div class="container tx-lp p-0 m-0 m-auto">
      <div class="row">
        <div class="col-12 p-0">
          <div class="hero">
            <img class="img-fluid lazyautosizes logo ls-is-cached lazyloaded"
              data-qa="component ck-img"
              src="https://img.noblechairs.com/lp/tx/noblechairs_logo.png"
              alt="tx"
              title="tx" />
            <br />
            <div class="margin-bottom">
              <h1>
                <span class="h1">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                      TX
                    </font>
                  </font>
                </span>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    SERIES
                  </font>
                </font>
              </h1>
              <h2>
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">
                    COMFORTABLE, BREATHABLE AND STYLISH
                  </font>
                </font>
              </h2>
            </div>
          </div>
          <img class="img-fluid lazyautosizes w-100 hero-img ls-is-cached lazyloaded"
            data-qa="component ck-img"
            src="https://img.noblechairs.com/lp/tx/tx_hero.jpg"
            alt="tx"
            title="tx" />
        </div>
      </div>

      {# second section start #}
      <div class="row">
        <div class="col-12 section_a p-0">
          <div class="row">
            <div class="col-md-7 visible-desktop">
              <ul>
                <li>
                  Neu entwickeltes, atmungsaktives Textilgewebe der TX-Serie
                </li>
                <li>
                  Stützgewebe aus Fleece für erhöhte Strapazierfähigkeit und
                  Komfort
                </li>
                <li>Pflegeleichter Stoff</li>
                <li>Kopf- und Lendenkissen-Set enthalten</li>
                <li>
                  Erhältlich in Anthrazit für einen dezenten und stilvollen Look
                </li>
              </ul>
            </div>
            <div class="col-12 visible-mobile">
              <p class="margin_bottom px-1">
                ∙ Neu entwickeltes, atmungsaktives Textilgewebe der TX-Serie
                <br />
                ∙ Stützgewebe aus Fleece für erhöhte Strapazierfähigkeit und Komfort
                <br />
                ∙ Pflegeleichter Stoff
              </p>
              <div class="text-center">
                <img class="img-fluid lazyautosizes lazyload w-50 lazyload"
                  data-qa="component ck-img"
                  src=""
                  alt="tx"
                  title="tx"
                  data-srcset="https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=100 100w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=116 116w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=134 134w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=156 156w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=182 182w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=210 210w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=244 244w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=282 282w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=328 328w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=380 380w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=442 442w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=512 512w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=594 594w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=688 688w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=798 798w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=926 926w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1074 1074w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1246 1246w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1446 1446w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1678 1678w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=1946 1946w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=2258 2258w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=2618 2618w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=3038 3038w,https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png?auto=compress%2Cformat&amp;fit=max&amp;q=70&amp;w=3524 3524w,"
                  data-src="https://img.noblechairs.com/lp/tx/tx_section_a_closeup.png"
                  data-sizes="(min-width: 1920px) 1670px, (min-width: 1200px) 1140px, (min-width: 992px) 960px, (min-width:
																																				                        768px) 720px, (min-width: 576px) 540px, 100vw"
                  sizes="31px" />
              </div>
              <p class="margin_top px-1">
                • Kopf- und Lendenkissen-Set enthalten
                <br />
                • Erhältlich in Anthrazit für einen dezenten und stilvollen Look
              </p>
            </div>
          </div>
          <img class="img-fluid w-100 d-none d-none d-lg-block lazyloaded"
            data-qa="component ck-img"
            src="https://img.noblechairs.com/lp/tx/tx_section_a_desktop.jpg"
            alt="tx"
            title="tx" />
          <img class="img-fluid img-size d-lg-none lazyload"
            data-qa="component ck-img"
            src=""
            alt="tx"
            title="tx" />
        </div>
      </div>
      {# second section end #}

      {# third section start #}
      <div class="row section_b">
        <div class="col-12 col-lg-6">
          <img class="img-fluid image lazyloaded"
            data-qa="component ck-img"
            src="https://img.noblechairs.com/lp/tx/tx_section_b.jpg"
            alt="tx"
            title="tx" />
        </div>
        <div class="col-12 col-lg-6 margin_b">
          <h3>
            EPIC TX
            <span class="h3_b">- ANTHRAZIT</span>
          </h3>
          <p>
            Der legendäre noblechairs EPIC TX ist bereit für den Kampf:
          </p>
          <ul>
            <li>Verstellbares Lendenkissen für die perfekte Platzierung</li>
            <li>Rückenlehne verstellbar zwischen 90° bis 135°</li>
            <li>Flexible 4D-Armlehnen für zusätzlichen Komfort</li>
            <li>Entwickelt für Nutzer bis 120 kg</li>
          </ul>
          <a href="/epic-series/tx" class="btn btn-primary mt-5 mb-3">
            JETZT SHOPPEN
          </a>
          <p class="italic">
            EPIC TX Gaming Chair
            <br />
            – Anthrazit
          </p>
        </div>
      </div>
      {# third section end #}
    </div>
  </main>
{% endblock %}
{% block footer %}
  {% include 'footer/footer.html.twig' %}
{% endblock %}
